<div class="gridContent">
  <div class="container">
        <div class="infomain">
          Zakładka do pobierania 1000 najpopularniejszych tagów z stackoverflow. Domyślna wartość pupulacji - 100, dla każdej populacji obliczany
          jest procentowy udział każdego tagu.
        </div>


        <form class="form" (ngSubmit)="onSubmit()" #form="ngForm">
          <div class="form__content"> 
              <div class="login-form__header">Wprowadź ilość elementów w "populacji"</div>
              <div class="login_center">
              <input class="form__field" type="text" name="dc_userLog" placeholder="1-100" [(ngModel)]="configureToSearch.size" 
              id="in_size" 
              name="in_size" 
              #in_size="ngModel"
              (input)="validate(in_size)">
              <button class="subButton" type="submit">Pobierz dane</button>
          </div>
      </div>
      </form>
      <div class="info" *ngIf="(info)">
        Pobrane dane dla domyślnej wartości 100!
      </div> 

    
 
</div>

<div class="content">
  <app-tag-card *ngFor="let tag of popularTags; let i = index"
    [tag]="tag" 
    [count] = "i+1" 
    [size] = [(sizeOfEle)]
    
  ></app-tag-card>
</div>
</div>


